<footer>
        <div class="footer-box animate__animated animate__fadeInDown">
            <p>We Are Social</p>
            <div class="social-icons animate__animated animate__pulse animate__infinite animate__slow ">
                <a href="https://omarkhaled-00.github.io/Portfolio/" class="card-style"><i class="fa-solid fa-user-tie"></i></a>
                <a href="https://github.com/OmarKhaled-00" class="card-style"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/omar-khaled-4a85aa271/" class="card-style"><i class="fab fa-linkedin"></i></a>
            </div>
            <p class="gradientTitle-text copyright">Copyright © <%= new Date().getFullYear() %> Eng: Omar Khaled </p>
        </div>
    </footer>