<div class="grid-cont" id="square-container">
        <div class="card-style">
            <span class="s1 dot"></span>
            <div class="top-left"></div>

        </div>
        <div class="card-style">
            <span class="s2 dot"></span>
            <div class="top-center"></div>
        </div>
        <div class="card-style">
            <span class="s3 dot"></span>
            <div class="top-right"></div>
        </div>
        <div class="card-style">
            <span class="s4 dot"></span>
            <div class="center-left"></div>
        </div>
        <div class="card-style">
            <span class="s5 dot"></span>
            <div class="center-center"></div>
        </div>
        <div class="card-style">
            <span class="s6 dot"></span>
            <div class="center-right"></div>
        </div>
        <div class="card-style">
            <span class="s7 dot"></span>
            <div class="bottom-left"></div>
        </div>
        <div class="card-style">
            <span class="s8 dot"></span>
            <div class="bottom-center"></div>
        </div>
        <div class="card-style">
            <span class="s9 dot"></span>
            <div class="bottom-right"></div>
        </div>
    </div>